<mat-toolbar color="warn">


<nav class="navbar navbar-expand-lg navbar-primary">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
        <a mat-stroked-button  class= "btn-outline-light" routerLink="saveTask"> Create Task </a>
        </li>
        <li class="nav-item">
        <a mat-stroked-button  class= "btn-outline-light" routerLink="listTask"> List Task </a>
        </li>

        <li class="nav-item">
        <a mat-stroked-button  class= "btn-outline-light" routerLink="listUser"> User </a>
        </li>
        <li class="nav-item">
        <a mat-stroked-button  class= "btn-outline-light" routerLink="listRole"> Role </a>
        </li>
    </ul>
    </div>
</nav>


<span class="headerSpacer"></span>

<nav class="navbar navbar-">
    <form class="form-flex">
    <input class="form-control-dark mr-sm-2" type="text" placeholder="Search here your task ">
    </form>
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
</nav>

<ul>
    <li><a mat-flat-button class= "btn-outline-danger" routerLink="register"> Sing up </a></li>
    <li><a mat-flat-button class= "btn-outline-danger" routerLink="login"> Login </a></li>
    <li><a mat-flat-button class= "btn-outline-danger"> Logout </a></li>
</ul>
</mat-toolbar> 

